<h1>Books</h1>

<% @books.each do |book| %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.rating %></td>
    <td><%= book.text %></td>
  </tr>

<% end %>
<p>Add books and ratings via form</p>

<%= link_to 'New Book', 'books/new' %><br><br>

<%= render 'welcome/menu.html.erb' %>